@font-face {
    font-family: 'Karrik-Regular';
    src: 	url('../fonts/TTF/Karrik-Regular.ttf') format('truetype'),
			url('../fonts/WOFF/Karrik-Regular.woff') format('woff'),
         	url('../fonts/WOFF2/Karrik-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Karrik-Italic';
    src: 	url('../fonts/TTF/Karrik-Italic.ttf') format('truetype'),
			url('../fonts/WOFF/Karrik-Italic.woff') format('woff'),
         	url('../fonts/WOFF2/Karrik-Italic.woff2') format('woff2');
}

#bg {
	background: rgba(28, 10, 130, 1);
	background-image: radial-gradient(at 50% 50%, rgb(94, 3, 80) 0%, rgb(28, 10, 130) 100%);
	box-shadow: inset 0 0 75px rgba(0, 0, 0, 0.9);
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}
#main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
#center-box {
  	text-align: center;
}
#chat-history {
	text-align: center;
	font-family: "Karrik-Regular", sans-serif;
	color: white;
	max-width: 512px;
	font-size: 19px;
	font-weight: bold;
	height: 190px;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none; /* Firefox */
	border: none;
}
#chat-history::-webkit-scrollbar {
    width: 0px; /* Webkit (Chrome, Safari) */
}
#chat-history ::selection {
	background: white;
    color: #1a0441;
}
#response {
	white-space: pre-wrap;
	font-style: italic;
}
#mic-button {
	width: 70px;
	margin-top: 25px;
	all: unset;
}
#mic-button:hover {
	cursor: pointer;
}
#bouncyCircle {
	position: relative;
	top: 0px;
	z-index: -9999;
}
#img-svg {
	width: 70px;
}
#audioPlayer {
	display: none;
}

@media only screen and (max-width: 600px) {
	#center-box {
    	max-width: 90%;
	}
	#siri-container canvas {
		max-width: 90%;
	}
	#chat-history {
		height: 380px;
	}
}