<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="theme-color" content="#1a043f" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#1a043f" media="(prefers-color-scheme: dark)">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>Diane</title>
</head>
<body>
    <noscript>
        <strong>Sorry but web-audio doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="bg">
        <div id="main">
            <div id="center-box">
                <div id="siri-container"></div>
                <div id="chat-history">
                    <p id="question">{{ question }}</p>
                    <p id="response">{{ response }}</p>
                </div>
                <button id="mic-button"><div id="bouncyCircle"></div><img id="img-svg" src="{{ url_for('static', filename='img/mic.svg') }}"></button>
                <audio id="audioPlayer" src="{{ url_for('static', filename='snds/welcome.mp3') }}" controls></audio>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/siriwave/dist/siriwave.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
